<template>
  <div>
    <v-row>
      <v-col cols="12" class="text-center">
        <p class="display-3">Gamay.xyz URL Shortener</p>
        <p class="title">
          by
          <a href="https://acemaranga.com">acemaranga.com</a>
        </p>
      </v-col>
      <v-col cols="12" md="6">
        <p class="display-1">Pa"Gamay"on Tana</p>
        <p
          class="headline"
        >Very long URLs can be very painful to look at, especially if you are sharing your link</p>
        <p class="title">With Gamay, you can shorten you URLs and even prettify it.</p>
      </v-col>
      <v-col cols="12" md="6" class="d-flex justify-space-between">
        <v-card class="steps-list text-center" v-for="(item, i) in $store.state.steps" :key="i">
          <v-card-title class="text-center">Step {{item.step}}</v-card-title>
          <p>
            <v-icon size="50">{{item.icon}}</v-icon>
          </p>
          <v-card-text>{{item.desc}}</v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <div class="d-flex flex-none flex-column flex-md-row justify-center">
          <div class="text-center">
            <v-textarea
              clearable
              v-model="url"
              style="min-width: 400px; width: 100% font-size: 30px !important;"
              outlined
              prepend-inner-icon="mdi-link"
              label="Paste URLs Here"
              auto-grow
              hint="You can paste multiple lines of URL here..."
              persistent-hint
              rows="1"
              value="The Woodman set to work at once, and so sharp was his axe that the tree was soon chopped nearly through."
            ></v-textarea>
          </div>
          <div class="text-center">
            <v-btn
              :loading="converting"
              x-large
              class="mt-0 ml-5"
              @click="submit"
              color="success"
            >Shorten</v-btn>
          </div>
        </div>
      </v-col>

      <v-col cols="12" class="text-center">
        <div v-if="response">
          <p v-for="(item, i) in response.data" :key="i">
            <a :href="item.url">{{ item.url}}</a> &raquo;
            <a :href="'http://gamay.xyz/' + item.slug">gamay.xyz/{{item.slug}}</a>
          </p>
        </div>
        Url Input: {{ url }}
        <br />
        <br />
        Valid URLS: {{ validUrls }}
        <br />
        <br />
        message: {{ errorMsg }}
        <br />
        <br />
        response: {{ response }}
      </v-col>
    </v-row>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      url: 'https://yahoo.com\nhhhh://reddit.com\nhttp://google.com\nhttps://bing.com\nhttp://localhost:8080\nhttps://asd.com',
      output: '',
      converting: false,
      errorMsg: '',
      validUrls: [],
      response: ''
    };
  },
  methods: {
    async submit() {
      this.output = this.url.split('\n');

      this.validUrls = [];

      // resets url data to be submitted
      let postData = {
        urls: []
      };

      // checks for valid url in each line
      this.output.forEach(item => {
        if (this.checkValidUrl(item)) {
          this.validUrls.push(item);
          postData.urls.push({ url: item });
        }
      });

      // checks if are valid urls found
      if (this.validUrls.length === 0) {
        return false;
      }

      // sets loading animation to button
      this.converting = true;

      // configure headers
      const config = {
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          'Access-Control-Allow-Origin': '*',
          'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
        }
      };

      // the magic happens here
      try {
        this.errorMsg = postData;
        let { data } = await axios.post('http://gamay.xyz/api/link/shorten', postData, config);
        this.response = data;
        this.errorMsg = data;
        this.converting = false;
      } catch (e) {
        this.errorMessage = e;
        this.converting = false;
        this.messageError = true;
      }
    },
    checkValidUrl(str) {
      var pattern = new RegExp(
        '^(https?:\\/\\/)?' + // protocol
        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
        '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
        '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
          '(\\#[-a-z\\d_]*)?$',
        'i'
      ); // fragment locator
      return !!pattern.test(str);
    }
  }
};
</script>

<style lang="scss" scoped>
</style>