<template>
  <div>
    <h1>Signup</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed magni rem reprehenderit perspiciatis, labore nesciunt aperiam quia velit quas beatae ullam cumque cum unde vero voluptatem sit aliquam perferendis laudantium quisquam quo harum consequatur, quam corporis libero. Delectus deleniti aspernatur libero iure laborum sapiente beatae magni ducimus saepe doloribus fugit, veritatis quibusdam alias ex a mollitia aut tempore illum nam corrupti recusandae accusamus distinctio magnam. Ex enim unde earum eos dicta praesentium at molestiae vitae possimus. Quod dolorum eaque voluptate.</p>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>