<template>
  <v-app-bar app>
    <v-container class="d-flex align-center" style="max-width: 1300px;">
      <div>
        <v-btn to="/" text>Gamay</v-btn>
      </div>
      <v-spacer></v-spacer>
      <v-btn v-for="(item, i) in $store.state.menuItems" :key="i" :to="item.link" text>{{item.name}}</v-btn>
    </v-container>
  </v-app-bar>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>