<template>
  <v-app>
    <TheMenu />

    <v-content>
      <v-container style="max-width: 1300px;">
        <router-view />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import TheMenu from './components/TheMenu';
export default {
  name: 'App',
  components: {
    TheMenu
  },
  data: () => ({
    //
  })
};
</script>
